:root {
    
    /*Color Palette*/

    --color-primary: #55318C;
    --color-White: #FFFFFF; 
    --color-Dark: #262626;
    
    /* Font Families*/

    --font-heading: 'Industry', sans-serif;
    --font-subtitle: 'Bebas Neue', sans-serif;
    --font-body: 'SF Pro', sans-serif; 
    --font-headingItalic: 'Industry Black Italic', sans-serif;
}

/* Font Face Declarations for GitHub Pages */ 
@font-face {
    font-family: 'Industry';
    /* Remove the leading slash and adjust the path for GitHub Pages */
    src: url('../fonts/IndustryTest-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;    
}

@font-face{
    font-family: 'Industry Black Italic';
    src: url('/public/fonts/IndustryTest-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    
}

@font-face {
    font-family: 'Bebas Neue';
    /* Remove the leading slash and adjust the path for GitHub Pages */
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro';
    /* Remove the leading slash and adjust the path for GitHub Pages */
    src: url('../fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}